body {
  font-family: 'Roboto', sans-serif;
  background: url('../../../assets/img/fundo6.jpg') no-repeat center center fixed;
  background-size: cover; /* Garante que a imagem cubra toda a tela */
  color: #333; 
  padding-top: 129px; 
  padding-bottom: 50px;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra mais suave */
  margin: 50px auto; /* Centraliza horizontalmente e adiciona margem superior */
  max-width: 800px; /* Largura máxima do formulário */
  
}

h2 {
  text-align: center;
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  padding-top: 5px;
}

label {
  font-weight: bold;
}

.btn-custom {
  background-color: #007bff; /* Cor primária do Bootstrap */
  color: white;
  width: 100%;
}

.info-icon {
  margin-left: 5px;  
  cursor: help;     
  padding-top: 5px; 
}

.form-container {
  /* ... outros estilos ... */
  margin-bottom: 50px; /* Adicione a margem inferior desejada */
}

.move-checkbox {
  margin-left: 20px;
}