<body>
  <div class="container-fluid">
    <div class="form-container">
      <h2 class="text-center">Agendamento</h2> 
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <div class="col-md-6">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" formControlName="name" placeholder="Digite seu nome">
          </div>
          <div class="col-md-6">
            <label for="Sobrenome">Sobrenome:</label>
            <input type="text" class="form-control" id="Sobrenome" formControlName="last_name" placeholder="Digite seu sobrenome">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="cpf">Cpf:</label>
            <input type="text" class="form-control" id="cpf" formControlName="cpf" mask="000.000.000-00"> 
            <div *ngIf="registerForm.get('cpf')?.invalid && (registerForm.get('cpf')?.dirty || registerForm.get('cpf')?.touched)" class="text-danger">
              CPF inválido.
            </div>
            <span class="info-icon" ngbTooltip="O CPF é necessário para identificação no albergue. Ele será utilizado para garantir que a reserva é feita para você.">
              <i class="fas fa-question-circle"></i> </span>
          </div>

          <div class="col-md-6">
            <label for="nome_mae">Nome da mãe:</label>
            <input type="text" class="form-control" id="nome_mae" formControlName="mother_name" placeholder="Digite o nome de sua mãe">
            <span class="info-icon" ngbTooltip="O nome da mãe é necessário para identificação no albergue. Ele será utilizado para garantir que a reserva é feita para você.">
              <i class="fas fa-question-circle"></i> </span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="data">Data de chegada:</label>
            <input type="date" class="form-control" id="data" formControlName="date">
          </div>
          <div class="col-md-6">
            <label for="hora">Hora de chegada:</label>
            <input type="time" class="form-control" id="hora" formControlName="time">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            
            <label for="estado">Estado:</label>
            <select class="form-control" id="estado" formControlName="state" (change)="onStateChange($event)">
              <option value="">Selecione um estado</option>
              <option *ngFor="let estado of states" [value]="estado.id">{{ estado.nome }}</option>
            </select>
            <div class="move-checkbox">
            <input type="checkbox" class="form-check-input" id="foreignCountryCheck" formControlName="foreignCountry">
              <label class="form-check-label" for="foreignCountryCheck">País estrangeiro</label>
            </div>
          </div>
          
          <div class="col-md-6">
            <label for="cidade">Cidade:</label>
            <select class="form-control" id="cidade" formControlName="city">
              <option value="">Selecione uma cidade</option>
              <option *ngFor="let cidade of cidades" [value]="cidade.id">{{ cidade.nome }}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="telefone">Telefone para contato:</label>
            <input type="text" class="form-control" id="telefone" formControlName="phone" placeholder="Digite seu telefone">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="noPhoneCheck">
              <label class="form-check-label" for="noPhoneCheck">Não tenho telefone</label>
            </div>
          </div>
          <div class="col-md-6">
            <label for="observacoes">Motivo da hospedagem:</label>
            <textarea class="form-control" id="observacoes" formControlName="observation" rows="1" placeholder="Digite suas observações"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-custom">Agendar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>

